#restaurants .well h5{
  height: 50px;
}

#restaurants .col-md-3 {
  margin-top: 2%;
  margin-bottom: 1%;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 350px; /* only if you want fixed height */
}